<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font: 400 15px/1.8 "Lato", sans-serif;
            color: #777;
        }

        .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
            position: relative;
            opacity: 0.65;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
        .bgimg-1 {
            background-image: url("public/images/cake22.jpg");
            min-height: 100%;
        }

        .bgimg-2 {
            background-image: url("public/images/cakeNum1.png");
            min-height: 500px;
        }

        .bgimg-3 {
            background-image: url("public/images/cakeNum2.png");
            min-height: 500px;
        }

        .bgimg-4 {
            background-image: url("public/images/cakeNum3.png");
            min-height: 500px;
        }
        .caption {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            color: #000;
        }

        .caption span.border {
            background-color: bisque;
            color: black;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
        }

        h3 {
            letter-spacing: 5px;
            text-transform: uppercase;
            font: 20px "Lato", sans-serif;
            color: #111;
        }

        /* Turn off parallax scrolling for tablets and phones */
        @media only screen and (max-device-width: 1024px) {
            .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
                background-attachment: scroll;
            }
        }
    </style>
</head>
<body>

<div class="bgimg-1">
    <div class="caption">
        <span class="border">CAKE RECIPES</span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;"> Whipping Cream Cake</h3>
    <p>We need:cup room-temperature unsalted butter, 1/2 cups granulated sugar, 6 room-temperature eggs, 3 cups all-purpose flour, ½ teaspoon kosher salt, 1 cup heavy whipping cream, 2 teaspoons vanilla extract.The original recipe calls for 3 cups of flour and does not call for any salt. But after testing the recipe a few times, we decided that we like it best with slightly less sugar and with a small amount of salt added. I also recommend adding some lemon zest to make this into a lemon whipping cream cake, but that’s a topic for another time. Start by beating the butter and sugar together until they’re light and fluffy, about 5 minutes. Don’t skimp on this step! You want them well combined. Add in the eggs, one at a time, beating well after each egg.
        In a separate bowl, whisk together the flour and salt, then alternate adding the flour and the whipping cream. Start and end with the flour.
        Scrape down the sides of the bowl and add in the vanilla just until combined.
        Add the batter to a prepared bundt pan, then bake for 1 hour and 15 minutes, starting in a cold oven and heating to 325°F while the cake bakes.
        Let the cake cool in the pan for 45 minutes before turning it out onto a serving plate.</p>
</div>

<div class="bgimg-2">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Eclair Cake</h3>
    <p>Ingredients: (3.5 ounce) packages instant vanilla pudding mix, 1 (8 ounce) container frozen whipped topping, thawed, 3 cups milk, 1 (16 ounce) package graham cracker squares, 1 (16 ounce) package prepared chocolate frosting. In a medium bowl, thoroughly blend the pudding mix, whipped topping, and milk.
        Arrange a single layer of graham cracker squares in the bottom of a 13X9 inch baking pan. Evenly spread half of the pudding mixture over the crackers. Top with another layer of graham crackers and the remaining pudding mixture. Top with a final layer of graham crackers.
        Melt frosting in the microwave for 30 seconds. Spread the frosting over the whole cake up to the edges of the pan.
        Cover and chill at least 4 hours before serving.</p>
</div>

<div class="bgimg-3">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Double Chocolate Salted Caramel Cake</h3>
    <p>Ingredients: 2 cups sugar, 3/4 cups all-purpose flour, 3/4 cup unsweetened cocoa powder, 2 tablespoons King Arthur Flour Black Cocoa, optional, 2 teaspoons baking soda, 1 teaspoon baking powder, 1 teaspoon kosher salt, 2 eggs, 1 cup buttermilk, 1 cup strong, brewed black coffee. Heat oven to 350°F. Grease and flour two 9-inch round baking pans or one 13x9x2-inch baking pan. Set aside.
        In the bowl of a stand mixer fitted with the whisk attachment or in a large bowl with an electric mixer, combine the sugar, flour, cocoa(s), baking soda, baking powder and salt. Mix on low speed until dry ingredients are thoroughly combined.
        Add eggs, buttermilk, coffee, oil and vanilla. Beat on medium speed for about two minutes; the batter will be thin.
        Pour batter evenly into prepared pans.
        Bake in preheated oven for 30 to 35 minutes for round pans, 35 to 40 minutes for rectangular pan or until wooden toothpick inserted in center comes out clean.
        Cool 10 minutes; remove from pans to wire racks. Cool completely.</p>
</div>



<div class="bgimg-4">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
</div>


<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">

    <p></p>
</div>

<div class="bgimg-1">
    <div class="caption">
        <span class="border">ENJOY OUR CAKES!</span>
    </div>
</div>

</body>
</html>