<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font: 400 15px/1.8 "Lato", sans-serif;
            color: #777;
        }

        .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
            position: relative;
            opacity: 0.65;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
        .bgimg-1 {
            background-image: url("public/images/cupcakes2.jpg");
            min-height: 100%;
        }

        .bgimg-2 {
            background-image: url("public/images/cupNum1.png");
            min-height: 500px;
        }

        .bgimg-3 {
            background-image: url("public/images/cupNum2.png");
            min-height: 500px;
        }

        .bgimg-4 {
            background-image: url("public/images/cupNum3.png");
            min-height: 500px;
        }
        .caption {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            color: #000;
        }

        .caption span.border {
            background-color: bisque;
            color: black;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
        }

        h3 {
            letter-spacing: 5px;
            text-transform: uppercase;
            font: 20px "Lato", sans-serif;
            color: #111;
        }

        /* Turn off parallax scrolling for tablets and phones */
        @media only screen and (max-device-width: 1024px) {
            .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
                background-attachment: scroll;
            }
        }
    </style>
</head>
<body>

<div class="bgimg-1">
    <div class="caption">
        <span class="border">CUPCAKE RECIPES</span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;"> Banana Cupcakes with Cream Cheese </h3>
    <p>We need: 1 cup plus 2 tablespoons cake flour, 1/2 teaspoon baking powder, 1/2 teaspoon baking soda, 1/4 teaspoon fine salt, 1 teaspoon ground cinnamo, 1/2 cup unsalted butter, softened, 1/4 cup granulated sugar, 1/4 cup light brown sugar. Preheat oven to 350°F. Line a 12 cup muffin pan with paper liners.
        In a medium bowl, whisk together the cake flour, baking powder, baking soda, salt and cinnamon.
        In the bowl of a stand mixer fitted with the paddle attachment, or in a large bowl with an electric mixer, beat the butter and sugars on medium speed until light and fluffy - about 4 minutes.
        Add in sour cream, vanilla and eggs and mix until combined.
        Gradually add the flour mixture to the butter mixture and mix until just combined.
        Fold in the mashed bananas until incorporated, taking care to not over mix.
        Use a large cookie scoop (about 3 tablespoons) to divide the batter between the prepared muffin cups.
        Bake cupcakes in preheated oven for 18-20 minutes, or until the tops turn golden-brown and a toothpick, inserted in the middle of the cupcake, comes out clean.
        Allow cupcakes to cool completely. </p>
</div>

<div class="bgimg-2">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Raspberry Lemonade Cupcakes</h3>
    <p>Ingredients: 1 cup unsalted butter, room temperature, 2 cup sugar, Zest of 2 small lemons (or 1 large), 4 eggs, 2 1/2 cup flour, 1/2 cup cornstarch, 1 tablespoon baking powder, 1 teaspoon salt, 1 cup sour cream, 2 tablespoons milk, 2 tablespoons freshly-squeezed lemon juice. Preheat oven to 350ºF and line pans with cupcake liners.
        Beat butter, sugar and lemon zest together until light and fluffy. Add in eggs and mix until thoroughly incorporated.
        In a large bowl whisk together flour, cornstarch, baking powder and salt. You can sift these ingredients together if you prefer a very light texture.
        Add half the dry ingredients to the butter/sugar/zest and mix on medium speed. Then add sour cream, milk and lemon juice and mix again. Continue to add the rest of the dry ingredients. Scrape down the sides of the bowl after each new addition. Be careful to not over mix!
        Evenly divide the batter between the 24 cupcake liners. Bake for 18-22 minutes or until an inserted knife or toothpick comes out clean. Let cupcakes cool.
        To make frosting, beat butter for 1 minute. Add vanilla extract and lemon zest and 2 cup of powdered sugar. Then add your raspberries! (If you want to use the raspberry puree option just place a handful in a blender and blend until smooth. You can sift out the seeds if you want, and then add to the butter mixture. You can always add just a little of the jello powder to boost the flavor and color up a notch.) Continue to add as much powdered sugar as needed to reach your desired consistency!
        Pipe onto cooled cupcakes and top with fresh raspberries!</p>
</div>

<div class="bgimg-3">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Double Chocolate Salted Caramel Cake</h3>
    <p>Ingredients: 2 cups sugar, 3/4 cups all-purpose flour, 3/4 cup unsweetened cocoa powder, 2 tablespoons King Arthur Flour Black Cocoa, optional, 2 teaspoons baking soda, 1 teaspoon baking powder, 1 teaspoon kosher salt, 2 eggs, 1 cup buttermilk, 1 cup strong, brewed black coffee. Heat oven to 350°F. Grease and flour two 9-inch round baking pans or one 13x9x2-inch baking pan. Set aside.
        In the bowl of a stand mixer fitted with the whisk attachment or in a large bowl with an electric mixer, combine the sugar, flour, cocoa(s), baking soda, baking powder and salt. Mix on low speed until dry ingredients are thoroughly combined.
        Add eggs, buttermilk, coffee, oil and vanilla. Beat on medium speed for about two minutes; the batter will be thin.
        Pour batter evenly into prepared pans.
        Bake in preheated oven for 30 to 35 minutes for round pans, 35 to 40 minutes for rectangular pan or until wooden toothpick inserted in center comes out clean.
        Cool 10 minutes; remove from pans to wire racks. Cool completely.</p>
</div>



<div class="bgimg-4">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
</div>


<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">

    <p></p>
</div>

<div class="bgimg-1">
    <div class="caption">
        <span class="border">ENJOY OUR CUPCAKES!</span>
    </div>
</div>

</body>
</html>