<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font: 400 15px/1.8 "Lato", sans-serif;
            color: #777;
        }

        .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
            position: relative;
            opacity: 0.65;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
        .bgimg-1 {
            background-image: url("public/images/desserts2.jpg");
            min-height: 100%;
        }

        .bgimg-2 {
            background-image: url("public/images/desNum1.png");
            min-height: 500px;
        }

        .bgimg-3 {
            background-image: url("public/images/desNum2.png");
            min-height: 500px;
        }

        .bgimg-4 {
            background-image: url("public/images/desNum3.png");
            min-height: 500px;
        }
        .caption {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            color: #000;
        }

        .caption span.border {
            background-color: bisque;
            color: black;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
        }

        h3 {
            letter-spacing: 5px;
            text-transform: uppercase;
            font: 20px "Lato", sans-serif;
            color: #111;
        }

        /* Turn off parallax scrolling for tablets and phones */
        @media only screen and (max-device-width: 1024px) {
            .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
                background-attachment: scroll;
            }
        }
    </style>
</head>
<body>

<div class="bgimg-1">
    <div class="caption">
        <span class="border">DESSERTS RECIPES</span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;"> Berry Crisp </h3>
    <p>We need: 6 cups fresh assorted berries, ⅓ cup sugar, ⅓ cup flour, Zest of 1 orange. Preheat oven to 350°F.
        In a large bowl, stir together the berries with the ⅓ cup sugar, ⅓ cup flour, and orange zest. Pour the mixture into a 2-quart baking dish. Set aside.
        In a medium bowl, stir together the flour, baking powder, baking soda, salt, oats, and brown sugar. Drizzle in the melted Challenge butter and stir until the dry ingredients are moistened. Sprinkle the crumb mixture evenly over the top of the berry filling.
        Bake for 45-50 minutes or until the topping is golden brown and the filling is bubbly.  </p>
</div>

<div class="bgimg-2">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Simple Baked Apples</h3>
    <p>Ingredients: 4 medium apples (cored and slightly hollowed down), 1/2 cup rolled oats, 3 tablespoons brown sugar, 1 teaspoon of pumpkin spice, Pinch of salt. Preheat oven to 350°F.
        Core and slightly hollow out the apples beyond the cored center. (Don’t go too far or the apple will lose its shape when baked). Place the apples in a baking dish.
        Mix together the oats, sugar, pumpkin pie spice and salt.
        Add the softened butter to the mixture, mixing gently with your fingers until thoroughly incorporated.
        Lightly add the filling to the apples. (Do not pack inside or the mixture will expand and the apple will burst!)
        Bake for 30 minutes.
        Serve warm, drizzled with caramel sauce.</p>
</div>

<div class="bgimg-3">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Croissant Bread Pudding</h3>
    <p>Ingredients: 6 tablespoons salted butter, melted and cooled slightly, 1 cup granulated sugar, 2 teaspoons ground cinnamon, 5 large eggs, 2 1/2 cups heavy cream, 2 teaspoons vanilla extract. Preheat oven to 350 degrees F. Grease a 9 x 13-inch baking pan with butter or cooking spray and set it aside.
        In the bowl of a stand mixer fitted with the whisk attachment, or in a large bowl with an electric hand mixer, beat melted butter, 1 cup sugar and 2 teaspoons cinnamon on medium speed for 2 minutes. If you don’t have an electric or stand mixer, no worries because you can use a whisk to mix everything.
        Add in the eggs and beat until fully incorporated. Be sure to scrape down the sides of the bowl as needed. Add the heavy cream and vanilla and beat until fully combined, about 2 minutes.
        Use your hands to tear the croissants into 1-inch pieces and layer into the prepared pan.
        Pour the egg mixture over the croissants. Gently push the croissant pieces down to ensure even coverage with the egg mixture. Cover with foil and let sit at room temperature for 15 minutes to soak.
        In a small bowl, mix together the 1 tablespoon of sugar and ½ teaspoon of cinnamon. After the bread pudding as rested for 15 minutes, sprinkle this mixture over the top. Cover again with the foil.
        Leave the bread pudding covered with the foil and bake in preheated oven for 35 minutes.
        Remove foil and bake for an additional 15 minutes to brown the top. The bread pudding is done when the custard is set, but still soft.
        Allow to cool. Serve with whipped cream and fresh berries.
    </p>
</div>



<div class="bgimg-4">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
</div>


<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">

    <p></p>
</div>

<div class="bgimg-1">
    <div class="caption">
        <span class="border">ENJOY OUR DESSERTS!</span>
    </div>
</div>

</body>
</html>